* {
    scroll-behavior: auto;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #564474;
}
.container{
    max-width: 1000px;
}
h2 {
    text-align: center;
}
p {
    margin-bottom: 5px;
}
.indent {
    text-indent: 30px;
}
a {
    text-decoration: none;
}

/* HEADER */
#navbarContainer {
    padding: 0px;
}
.navbar-brand {
    font-family: "Rubik", sans-serif;
}
div.container-fluid {
    margin: 10px 0;
}
.navbar-expand-lg .navbar-collapse {
    text-align: end;
    flex-grow: unset;
}
ul.navbar-nav {
    width: fit-content;
}
@media (max-width: 991px) {
    ul.navbar-nav {
        margin-left: auto;
    }
}
a.nav-link {
    border: white 1px solid;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}
a.nav-link.active {
    border-color: #FADADD;
    color: #FADADD !important;
}
a.nav-link:hover, a.navbar-brand:hover {
    color:  #FADADD !important;
    border-color:  #FADADD;
}
a.nav-link, a.navbar-brand {
    color: white !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #8366B3 !important;
}
.navbar-toggler {
    border-color: white;
    padding: 3px 8px;
    box-shadow: none;
}
.navbar-toggler:active, .navbar-toggler:visited, .navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: url("../navbarToggleIcon.png");
}

/* HOME PAGE */

    /* BIO */
#bioRow, .artContainer {
    background-color: #FADADD;
}
#bioImg {
    width: 412px;
    height: 550px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}
#bioImgContainer {
    align-self: center;
}
@media (max-width: 991px) {
    #bioImg {
        width: 300px;
        height: 400px
    }
    .viewArtButtonContainer {
        width: 80%;
    }
}
#bioTitle {
    text-align: center;
}
#bioText{
    text-align: justify;
    max-width: 400px;
    margin: 0 auto
}

    /* GALLERY */
@media (max-width: 439px) {
    .cardImg {
        width: 148px;
        height: 150px;
    }
    .cardContainer {
        width:150px;
    }
}
@media (min-width: 440px) {
    .cardImg {
        width: 198px;
        height: 200px;
    }
    .cardContainer {
        width:200px;
    }
}
.cardImg {
    background-position: center;
    background-size: cover;
}
.cardContainer:hover {
    border: 1px #564474 solid;
    cursor: pointer;
}
#galleryArtContainer, #exhibition2023ArtContainer, #exhibition2023Display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    /* EXHIBITION*/
.exhibitionImage {
    max-height: 400px;
    width: auto;
}
@media (max-width: 855px) and (min-width: 647px) {
    .exhibitionImage {
        max-height: 300px;
        width: auto;
    }
}
@media (max-width: 646px) {
    .exhibitionImage {
        max-width: 300px;
        height: auto;
    }
}


/* ID PAGE */
#idPageArt {
    justify-content: space-around;
}
#idWords {
    margin: 0 auto;
    max-width: 900px;
    text-align: justify;
}
#idTitle {
    width: fit-content;
}
#specs {
    border: 2px solid  #564474;
    border-radius: 8px;
    width: fit-content;
}
.idImage {
    max-height: 400px;
    max-width: 400px;
    width: auto;
    object-fit: cover;
}
@media(max-width: 892px) {
    .idImage {
        max-height: 300px;
        max-width: 300px;
    }
}

/* FOOTER */
#contact {
    text-align: center;
}
#credits {
    font-size: 12px;
    align-self: flex-end;
    text-align: center
}